body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: dimgrey;
    
}
h1{
    font-size:  40px;
    padding:  10 0 0 10;
}
h2{
    font-size:  20px;
    padding:  3 0 0 10;
}
h3{
    padding:  3 10 3 10;
}


.main{
    display: block;
    height: 100vh;
    margin-left:  100px;
    margin-right:  100px;
    background: #fac541;
}
/* ================= TOP NAV =================  */
.topnav{
    height: 8%;
    width:  100%;
    
}
/* ================= TITLE =================  */
.title{
    height: 20%;
    width:  100%;
    
}

/* ================= TRAILER =================  */
.poster-trailer{
    height: 60%;
    width:  100%;
    justify-content: center;
    background: #fac541; 
}
.poster{
    width:  29%;
    height:  100%;
    float: left;
}
.poster-img{
    max-width: 100%;
    max-height: 100%;
}
.trailer{
    width:  70%;
    height:  100%;
    float: left;
}

.three{
    height: 40%;
    width:  100%;

}
/* ================= INTRO AND WATCH AT =================  */
.intro-watch{
    height: 15%;
    width:  100%;
    justify-content: center;
    background: #fac541;
}
.intro{
    width:  60%;
    height:  100%;
    float: left;

}
.watch{
    width:  40%;
    height:  100%;
    float: left;

}

.netflix{
    width:  50%;
    height:  100%;
    float: left;
}

.piratebay{
    width:  50%;
    height:  100%;
    float: left;
}

.btn{
    width:  100%;
    height:  25%;
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border:  none;
}
/* ================= FORUMS & SPACES =================  */
.forums-and-spaces{
    height: 50%;
    width:  100%;
    justify-content: center;
    background: #fac541;

}
.forums{
    width:  50%;
    height:  100%;
    float: left;
    background: #fac541;

}
.spaces{
    width:  50%;
    height:  100%;
    float: left;
    background: #fac541;

}
.forum-head{
    width:  100%;
    height:  20%;
    float: left;

}
.forum-break{
    width:  100%;
    height:  2%;
    float: left;

}
.forum-content{
    width:  100%;
    height:  39%;
    float: left;

}
.forum-user-img{
    width:  20%;
    height:  100%;
    float: left;
}
.forum-user-img-pic{
    width:  100%;
    height:  80%;
    float: left;
}
.forum-user-img-name{
    width:  100%;
    height:  20%;
    float: left;
}

.forum-post{
    width:  78%;
    height:  100%;
    float: left;
    background:  #ffd56e;
}


.space{
    width:  100%;
    height:  18%;
    float: left;
}
.space-break{
    width:  100%;
    height:  2%;
    float: left;
    background: #fac541;
}

.space-name{
    width:  50%;
    height:  100%;
    float: left;
    background:  #ffd56e;
}
.space-join{
    width:  25%;
    height:  100%;
    float: left;
}
.space-view{
    width:  25%;
    height:  100%;
    float: left;
}

.forum-btn{
    width:  30%;
    height:  20%;
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border:  none;

}
.space-join-view-btn{
    width:  100%;
    height:  50%;
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border:  none;
    margin:  10 0 0 0;

}
/* ================= buttons fpr forum and spaces =================  */
.buttons{
    height: 30%;
    width:  100%;
    justify-content: center;
    background: #fac541;

}
.for-forum{
    width:  50%;
    height:  100%;
    float: left;
    background: #fac541;

}
.for-spaces{
    width:  50%;
    height:  100%;
    float: left;
    background: #fac541;

}
.space-btn{
    width:  30%;
    height:  20%;
    background-color: white;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border:  none;
}